/* -------------------------------- 

Title: Diagonal Hero
Descr: Hero section variation w/ diagonal edges

-------------------------------- */

:root {
    --hero-diagonal-offset: 75px;
  }
  
  .hero--diagonal, .hero--diagonal-top, .hero--diagonal-bottom {
    position: relative;
    background-color: transparent;
  
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--color-bg);
      left: 0;
      top: 0;
      // if bg = img
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  
    .hero__content {
      position: relative;
      z-index: 1;
    }
  }
  
  @supports (clip-path: inset(50%)) {
    .hero--diagonal::before {
      height: calc(100% + var(--hero-diagonal-offset)*2);
      top: calc(var(--hero-diagonal-offset) * -1);
      clip-path: polygon(0% 0%, 100% var(--hero-diagonal-offset), 100% 100%, 0% calc(100% - var(--hero-diagonal-offset)));
    }
  
    .hero--diagonal-top::before {
      height: calc(100% + var(--hero-diagonal-offset));
      top: calc(var(--hero-diagonal-offset) * -1);
      clip-path: polygon(0% 0%, 100% var(--hero-diagonal-offset), 100% 100%, 0% 100%);
    }
  
    .hero--diagonal-bottom::before {
      height: calc(100% + var(--hero-diagonal-offset));
      top: 0;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - var(--hero-diagonal-offset)));
    }
  }
  
  #hero-diagonal-1 {
    &::before {
      background-color: red;
    }
  }