/* -------------------------------- 

Title: Hero
Descr: A full-width callout section

-------------------------------- */

.hero {
  display: flex;
  align-items: center;
  padding: var(--space-xxl) 0;
  background-color: var(--color-bg);
  min-height: 380px;
  // if bg = img
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .text-component {
    .hero__label {
      color: alpha(var(--color-contrast-high), 0.6);
    }
  }

  @include breakpoint(md) {
    min-height: 540px;
  }
}

.hero__content {
  max-width: var(--container-width-sm);
}

.hero--center {
  text-align: center;

  .hero__content {
    margin: 0 auto;
  }

  .hero__cta {
    justify-content: center;
  }
}

.hero--right-content {
  text-align: right;

  .hero__content {
    margin: 0 0 0 auto;
  }

  .hero__cta {
    justify-content: flex-end;
  }
}
