/* -------------------------------- 

Title: Testimonials
Descr: A gallery of testimonial cards

-------------------------------- */

.testimonials {}

.testimonials__grid {
  > * {
    margin-bottom: var(--space-md);
  }

  @include breakpoint(md) {
    @supports (grid-area: auto) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: var(--space-sm);

      > * {
        margin-bottom: 0;
      }
    }
  }
}

.testimonials__card {
  background-color: var(--color-contrast-lower);
  padding: var(--component-padding);
  border-radius: var(--radius);

  .icon {
    display: block;
    width: 64px;
    height: 64px;
    color: var(--color-contrast-low);
    margin-bottom: var(--space-xxs);
  }

  footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include breakpoint(md) {
    display: flex;
    flex-direction: column;

    footer {
      margin-top: auto;
    }
  }
}

.testimonials__quote {
  line-height: 1.4;
  margin-bottom: var(--space-md);
}

.testimonials__img {
  flex-shrink: 0;
  margin-right: var(--space-xxs);

  img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--color-bg);
  }
}

.testimonials__cite {
  font-size: var(--text-sm);

  span {
    display: block;
    color: var(--color-contrast-medium);
    margin-top: var(--space-xxxxs);
  }
}

// --center-content
.testimonials--center-content {
  .testimonials__card {
    text-align: center;

    .icon {
      margin-left: auto;
      margin-right: auto;
    }

    footer {
      display: block;
    }

    .testimonials__img {
      margin: 0 0 var(--space-xxxs);
      display: flex;
      justify-content: center;
    }
  }
}
