/* custom */
.partial-border {
    width:350px; 
    height:0px; 
    background:white; 
    position:relative;
  }
  
  .partial-border:after {
    content:''; 
    width:25%; 
    height:2px; 
    background:lightgray; 
    position:absolute; 
    bottom:-4px;
  }
  
  .nav-font {
    font-weight: 100;
    opacity: 0.6;
    font-variant: small-caps;
    font-size: 1.1em;
    transition-property: opacity, font-weight, color;
    transition-duration: .25s;
    transition-timing-function: ease-in;
  }
  
  .nav-font:hover {
    color: #6c63ff;
    opacity: 1;
    font-weight: 900;
  }

  .contact-me {
    transition-property: opacity, color;
    transition-duration: .14s;
    transition-timing-function: ease-in;
  }

  .contact-me:hover {
    color: #6c63ff;
  }
  
  /* menu nav link selector for current/active menu item */
  .current:after {
    content: "";
    display: block;
    margin: 0 auto; /* This will left align the border. */
    width: 28px;
    border-bottom: 2px solid #6c63ff; 
    opacity: .75;
  }

  .features__item img {
    border-radius: 5px;
    padding: 5px;
    border: 2px white solid;
    opacity: 0.9;
  }

  .features__item img:hover {
    opacity: 0.5;
    border: 3px #6c63ff solid;
    box-shadow: 0 2px 2px -2px black;
  }

  .features-btn {
    display: block;
    color: black;
    margin-bottom: 0.3rem;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    letter-spacing: .1em;
    transition: text-shadow .3s;
    // border: 1px lightgray solid;
  }

  .features-btn:hover {
    background: #6c63ff;
    color: white;
    border-radius: 3px;
    font-weight: lighter;
    opacity: 0.75;
    text-shadow: 0 0 .65px lightgray, 0 0 .65px lightgray;
    box-shadow: 0 2px 6px -2px black;
  }